table {
    width: 100%;
}

input, button {
    display: block;
    width: 100%;
}

button {
    text-align: center;
}

thead {
    background: #0a84ff;
    color: #ffffff;
}

th:nth-child(1) {
    width: 25%;
}

th:nth-child(2) {
    width: 65%;
}

tbody tr:nth-child(odd) {
    background: #d7d7db;
}

td {
    padding: 0px 8px;
}
